{% extends 'base.html' %} {% load static %} {% block title %}About{% endblock title %} {% block body %}
<div class="container-edu ">
    <img src="{% static 'about.jpg' %}" alt="Education">
    <div class="overlay-bg"></div>
    <div class="edu-text"><a href="/study">About Us</a> </div>
</div>
<div>
    <section id="about-two" class="about-main-block-two about-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="about-block-img-two">
                        <img src="{% static 'abt-bg.jpg' %}" class="img-fluid" alt="about-img">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="about-block-dtl-two">
                        <div class="section">
                            <h2 class="section-heading">We are providing expert services from many years</h2>
                            <p>There anyone who loves or pursues nor desires to obtain pain of itself, bet it is pain, but because occasionally can packages as their default who loves or pursues nor desires to obtain pain of the hellium.</p>
                        </div>
                        <a href="services.html" class="btn btn-primary" title="about">Achievements <i
                                class="flaticon-next"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="about-block-two">
                        <div class="about-icon-two">
                            <img src="{% static 'index-icon1.jpg' %}" class="img-fluid" alt="about-img">
                        </div>
                        <div class="about-dtl-two">
                            <h4 class="about-heading">Our Strategy</h4>
                            <p>It is a long established fact that app reader will be distracted by the read won’t be content page.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about-block-two">
                        <div class="about-icon-two">
                            <img src="{% static 'index-icon2.jpg' %}" class="img-fluid" alt="about-img">
                        </div>
                        <div class="about-dtl-two">
                            <h4 class="about-heading">Our Mission</h4>
                            <p>It is a long established fact that app reader will be distracted by the read won’t be content page.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about-block-two">
                        <div class="about-icon-two">
                            <img src="{% static 'index-icon3.jpg' %}" class="img-fluid" alt="about-img">
                        </div>
                        <div class="about-dtl-two">
                            <h4 class="about-heading-two">Our Achievements</h4>
                            <p>It is a long established fact that app reader will be distracted by the read won’t be content page.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    <section id="visa-features" class="visa-features-main-block" style="background-image: url({% static 'visa-feature-bg.jpg' %})">
        <div class="container">
            <div class="section text-center">
                <h1 class="section-heading">We Give Our Best</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="features-block">
                        <div class="features-img">
                            <a href="#" title="Real Time Status"><img src="{% static 'visa-feature1.jpg' %}" class="img-fluid-img" alt="Real Time Status"></a>
                        </div>
                        <div class="features-dtl">
                            <div class="features-meta">
                                <a href="#" title="Innovation">Innovation</a>
                            </div>
                            <h4 class="features-heading"><a href="#" title="Real Time Status">Real Time Status</a>
                            </h4>
                            <p>It is a long established fact that and reader will by the readable based of content page banned.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="features-block">
                        <div class="features-img">
                            <a href="#" title="Expert Help"><img src="{% static 'visa-feature2.jpg' %}" class="img-fluid-img" alt="Expert Help"></a>
                        </div>
                        <div class="features-dtl">
                            <div class="features-meta">
                                <a href="#" title="Service">Service</a>
                            </div>
                            <h4 class="features-heading"><a href="#" title="Expert Help">Expert Help &amp; Live
                                    Chat</a></h4>
                            <p>It is a long established fact that and reader will by the readable based of content page banned.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="features-block">
                        <div class="features-img">
                            <a href="#" title="No Hidden Fees"><img src="{% static 'visa-feature3.jpg' %}" class="img-fluid-img" alt="No Hidden Fees"></a>
                        </div>
                        <div class="features-dtl">
                            <div class="features-meta">
                                <a href="#" title="Simplicity">Simplicity</a>
                            </div>
                            <h4 class="features-heading"><a href="#" title="No Hidden Fees">No Hidden Fees</a></h4>
                            <p>It is a long established fact that and reader will by the readable based of content page banned.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    <section id="facts" class="facts-main-block" style="background-image: url('{% static 'facts-bg.jpg' %}')">
        <div class="container">
            <div class="row no-gutters text-white">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="facts-block text-center mrg-btm-30">
                        <h1 class="facts-heading text-white counter">2000</h1>
                        <div class="facts-heading-sign text-white"><i class="fa fa-plus"></i></div>
                        <div class="facts-dtl">Happy Clients</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="facts-block text-center mrg-btm-30">
                        <h1 class="facts-heading text-white counter">100</h1>
                        <div class="facts-heading-sign text-white"><i class="fa fa-percent"></i></div>
                        <div class="facts-dtl">Satisfaction</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="facts-block text-center mrg-btm-30">
                        <h1 class="facts-heading text-white counter">4.5</h1>
                        <div class="facts-heading-sign text-white"><i class="fas fa-star"></i></div>
                        <div class="facts-dtl">Reviews</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="facts-block text-center mrg-btm-30">
                        <h1 class="facts-heading text-white counter">55</h1>
                        <div class="facts-dtl">Countries</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="facts-block text-center mrg-btm-30">
                        <h1 class="facts-heading text-white counter">700</h1>
                        <div class="facts-heading-sign text-white"><i class="fa fa-plus"></i></div>
                        <div class="facts-dtl">Students</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="facts-block text-center mrg-btm-30">
                        <h1 class="facts-heading text-white counter">180</h1>
                        <div class="facts-heading-sign text-white"><i class="fa fa-plus"></i></div>
                        <div class="facts-dtl">Universities</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock body %}