{% extends 'base.html' %} {% load static %} {% block title %}Education{% endblock title %} {% block body %}
<div class="container-edu ">
    <img src="{% static 'business.jpg' %}" alt="Education">
    <div class="overlay-bg"></div>
    <div class="edu-text"><a href="/business">Options for Canadian Business immigration</a> </div>
</div>
<div class="business">
    <div class="row">
        <div class="col-md-8">
            <div class="business-intro">
                <h5>If you are a business person or manager looking to immigrate to Canada, the Canadian federal and provincial governments offer a number of options that may allow you to fast-track the Canadian immigration process.
                </h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, in! Deleniti ipsum velit eos recusandae consectetur aut at officia possimus.</p>
                <h2>Business immigration to Canada</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus totam quasi. Accusamus excepturi fugit, harum, ut magnam similique architecto, ad sint dolorum voluptates eligendi?</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit ducimus eos nemo, corrupti dicta vel possimus suscipit dolores voluptates voluptatibus, veniam debitis minus esse maxime exercitationem maiores sunt officiis ex?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque est doloremque temporibus repudiandae numquam laboriosam nobis sapiente eum. Quidem, molestias?</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="business-img">
                <img src="{% static 'business-img.jpg' %}" height="200px" width="250px" alt="business">
            </div>
        </div>
    </div>
    
    <div class="business-programs">
        <h2>Business Immigration Programs</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-white">
                        <h3 class="card-title text-center">Program 1</h3>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci odit sunt nihil, esse unde exercitationem architecto quas quisquam commodi maiores.</p>
                        <p class="text-center"><a class="btn btn-small-size" href="...">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-white">
                        <h3 class="card-title text-center">Program 2</h3>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cum fugiat consectetur modi maxime iste odit ducimus accusantium, nam corporis!</p>
                        <p class="text-center"><a class="btn btn-small-size" href="...">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-white">
                        <h3 class="card-title text-center">Program 3</h3>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eum adipisci cumque praesentium quae ipsum dolores dolorem voluptatibus cupiditate deleniti?</p>
                        <p class="text-center"><a class="btn btn-small-size" href="...">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-white">
                        <h3 class="card-title text-center">Program 4</h3>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed velit vitae porro nulla officia, nostrum saepe repellat obcaecati ea? Sequi!</p>
                        <p class="text-center"><a class="btn btn-small-size" href="...">Learn more</a></p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-white">
                        <h3 class="card-title text-center">Program 5</h3>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem fugit in voluptatum magnam laborum consectetur maxime repudiandae minima. Iure, aspernatur.</p>
                        <p class="text-center"><a class="btn btn-small-size" href="...">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock body %}