{% extends 'base.html' %} {% load static %} {% block title %}Services{% endblock title %}
{% block body %}

<section id="visa-Services" class="visa-Services-main-block">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="services-dtl">
                    <div class="section">
                        <h1 class="section-heading text-white">Our Services</h1>
                        <p>There anyone who loves or pursues nor desires to obtain pain of itself, bet it is
                            pain, but because desires to obtain pain of the hellium.</p>
                    </div>
                    <a href="services.html" class="btn btn-secondary" title="read more">Read More<i
                            class="flaticon-next"></i></a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="service-block" style="background-image: url({% static 'visa-services.jpg' %})">
                    <div class="overlay-bg"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-dtl-icon">
                                <div class="row">
                                    <div class="offset-xl-2 col-lg-2">
                                        <div class="service-icon">
                                            <i class="flaticon-briefcase"></i>
                                        </div>
                                    </div>
                                    <div class="offset-lg-2 offset-xl-0 col-lg-8">
                                        <div class="visa-service-dtl">
                                            <h4 class="visa-service-heading"><a href="services-details.html"
                                                    title="business visa">Business Visa</a></h4>
                                            <p>It is a long established fact that and reader will by the
                                                readable based of content page banned.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-dtl-icon">
                                <div class="row">
                                    <div class="offset-xl-2 col-lg-2">
                                        <div class="service-icon">
                                            <i class="flaticon-graduation-hat"></i>
                                        </div>
                                    </div>
                                    <div class="offset-lg-2 offset-xl-0 col-lg-8">
                                        <div class="visa-service-dtl">
                                            <h4 class="visa-service-heading"><a href="services-details.html"
                                                    title="Student Visa">Student Visa</a></h4>
                                            <p>It is a long established fact that and reader will by the
                                                readable based of content page banned.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-dtl-icon">
                                <div class="row">
                                    <div class="offset-xl-2 col-lg-2">
                                        <div class="service-icon">
                                            <i class="flaticon-lifebuoy"></i>
                                        </div>
                                    </div>
                                    <div class="offset-lg-2 offset-xl-0 col-lg-8">
                                        <div class="visa-service-dtl">
                                            <h4 class="visa-service-heading"><a href="services-details.html"
                                                    title="Transit Visa">Transit Visa</a></h4>
                                            <p>It is a long established fact that and reader will by the
                                                readable based of content page banned.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-dtl-icon">
                                <div class="row">
                                    <div class="offset-xl-2 col-lg-2">
                                        <div class="service-icon">
                                            <i class="flaticon-aeroplane"></i>
                                        </div>
                                    </div>
                                    <div class="offset-lg-2 offset-xl-0 col-lg-8">
                                        <div class="visa-service-dtl">
                                            <h4 class="visa-service-heading"><a href="services-details.html"
                                                    title="Tourist Visa">Tourist Visa</a></h4>
                                            <p>It is a long established fact that and reader will by the
                                                readable based of content page banned.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="visa-consultation" class="visa-consultation-main-block"
    style="background-image: url({% static 'visa-consult-bg' %})">
    <div class="overlay-bg"></div>
    <div class="container">
        <div class="section text-center">
            <h1 class="section-heading">Free Visa Consultation</h1>
        </div>
        <div class="visa-consultation-block">
            <form class="visa-consultation-form" method="post">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Full Name" required="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="phone">Phone No.</label>
                            <input type="text" class="form-control" id="phone" placeholder="Phone No." required="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label>Select Visa Type</label>
                            <div class="form-group">
                                <select class="form-control" id="visa-type-box">
                                    <option>Business Visa</option>
                                    <option>Student Visa</option>
                                    <option>Travel Visa</option>
                                    <option>Work Visa</option>
                                    <option>Family Visa</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="request-button">
                            <button type="submit" class="btn btn-primary">Send Request<i
                                    class="flaticon-next"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="visa-consultation-dtl text-white">
                <p><i class="flaticon-phone-call-1"></i>We are available 24/7 call us<a href="tel:" title="contact no.">
                        +91 7015750329</a> during regular business hours</p>
            </div>
        </div>
    </div>
</section>
{% endblock body %}