{% extends 'base.html' %} {% load static %} {% block title %}Country{% endblock title %} {% block body %}
<div class="container-edu ">
    <img src="{% static 'about.jpg' %}" alt="Education">
    <div class="overlay-bg"></div>
    <div class="edu-text"><a href="...">Canada Immigration News Article</a> </div>
</div>
<div class="blog-main-block-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-block">
                    <div class="blog-img-two">
                        <img src="{% static 'blog3.jpg' %}" class="img-fluid" alt="blog">
                        <div class="meta-dtl">
                            <a href="#" title="date">
                                <div class="date">06</div>
                                <div class="month">Feb</div>
                            </a>
                        </div>
                    </div>
                    <div class="blog-dtl blog-dtl-two">
                        <div class="blog-sub-heading">
                            <a href="blog-detail.html" title="Travel Visa">Travel Visa</a>
                        </div>
                        <div class="blog-heading">
                            <h4><a href="blog-detail.html" title="blog">Roots in a piece of classical</a>
                            </h4>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-6">
                                <a href="blog-detail.html" class="btn btn-link">Read More<i
                                        class="flaticon-next"></i></a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-6 text-right">
                                <div class="blog-icon">
                                    <a href="#" title="comment"><i class="far fa-comment"></i>37 Comments</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-block">
                    <div class="blog-img-two">
                        <div class="video-item hidden-xs">
                            <script type="text/javascript">
                                var video_url = '<iframe src="https://www.youtube.com/embed/ZMdCsIaE7II?autoplay=1&showinfo=0" frameborder="0"></iframe>';
                            </script>
                            <div class="video-device">
                                <img src="{% static 'blog4.jpg' %}" class="bg_img img-fluid" alt="Background">

                            </div>
                        </div>
                        <div class="meta-dtl blog-dtl-two">
                            <a href="#" title="date">
                                <div class="date">5</div>
                                <div class="month">Feb</div>
                            </a>
                        </div>
                    </div>
                    <div class="blog-dtl">
                        <div class="blog-sub-heading">
                            <a href="blog-detail.html" title="Travel Visa">Travel Visa</a>
                        </div>
                        <div class="blog-heading">
                            <h4><a href="blog-detail.html" title="blog">Roots in a piece of classical</a>
                            </h4>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-6">
                                <a href="blog-detail.html" class="btn btn-link">Read More<i
                                        class="flaticon-next"></i></a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-6 text-right">
                                <div class="blog-icon">
                                    <a href="#" title="comment"><i class="far fa-comment"></i>40 Comments</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-block">
                    <div class="blog-img-two">
                        <a href="blog-detail.html" title="blog"><img src="{% static 'blog5.jpg' %}" class="img-fluid" alt="blog"></a>
                        <div class="meta-dtl">
                            <a href="#" title="date">
                                <div class="date">30</div>
                                <div class="month">Jan</div>
                            </a>
                        </div>
                    </div>
                    <div class="blog-dtl blog-dtl-two">
                        <div class="blog-sub-heading">
                            <a href="blog-detail.html" title="Travel Visa">Travel Visa</a>
                        </div>
                        <div class="blog-heading">
                            <h4><a href="blog-detail.html" title="blog">Roots in a piece of classical</a>
                            </h4>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-6">
                                <a href="blog-detail.html" class="btn btn-link">Read More<i
                                        class="flaticon-next"></i></a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-6 text-right">
                                <div class="blog-icon">
                                    <a href="#" title="comment"><i class="far fa-comment"></i>47 Comments</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="news-block-main">
                    <h6 class="blog-news-headinng">Recent News</h6>
                    <div class="news-block">
                        <div class="row">
                            <div class="col-lg-4 col-sm-3 col-3">
                                <div class="news-block-img">
                                    <a href="blog-detail.html" title="blog"><img src="images/widgets/recent-news-01.jpg" class="img-fluid" alt="blog"></a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-sm-9 col-9">
                                <div class="news-block-dtl">
                                    <p>Simply dummy text offs the printing
                                    </p>
                                    <div class="news-meta-block">
                                        <a href="#" title="date">
                                            <div class="date"><i class="flaticon-time"> </i> FEB 20, 2019
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news-block">
                        <div class="row">
                            <div class="col-lg-4 col-sm-3 col-3">
                                <div class="news-block-img">
                                    <a href="blog-detail.html" title="blog"><img src="images/widgets/recent-news-02.jpg" class="img-fluid" alt="blog"></a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-sm-9 col-9">
                                <div class="news-block-dtl">
                                    <p>Simply dummy text offs the printing
                                    </p>
                                    <div class="news-meta-block">
                                        <a href="#" title="date">
                                            <div class="date"><i class="flaticon-time"> </i> JAN 24, 2019
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news-block">
                        <div class="row">
                            <div class="col-lg-4 col-sm-3 col-3">
                                <div class="news-block-img">
                                    <a href="blog-detail.html" title="blog">
                                        <img src="images/widgets/recent-news-03.jpg" class="img-fluid" alt="blog"></a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-sm-9 col-9">
                                <div class="news-block-dtl">
                                    <p>Simply dummy text offs the printing
                                    </p>
                                    <div class="news-meta-block">
                                        <a href="#" title="date">
                                            <div class="date"><i class="flaticon-time"> </i> APR 12, 2019 </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="categories-block">
                    <h6 class="blog-news-headinng">Categories</h6>
                    <div class="categories-list">
                        <ul>
                            <li><a href="#" title="link"> Travel &amp; Tourism Visa</a></li>
                            <li><a href="#" title="link"> Education Visa</a></li>
                            <li><a href="#" title="link"> Immigration Visa</a></li>
                            <li><a href="#" title="link"> Work Visa</a></li>
                            <li><a href="#" title="link"> Business Visa</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tag-widget">
                    <h6 class="blog-news-headinng">Tags</h6>
                    <div class="tags">
                        <a href="blog-detail.html" title="Travel"><span class="badge">Travel</span></a>
                        <a href="blog-detail.html" title="Immigration"><span class="badge">Immigration</span></a>
                        <a href="blog-detail.html" title="Business"><span class="badge">Business</span></a>
                        <a href="blog-detail.html" title="Education"><span class="badge">Education</span></a>
                        <a href="blog-detail.html" title="Non-Immigration"><span
                                    class="badge">Work</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}