{% extends 'base.html' %} {% load static %} {% block title %}Education{% endblock title %} {% block body %}
<div class="container-edu ">
    <img src="{% static 'uni.jpg' %}" alt="Education">
    <div class="overlay-bg"></div>
    <div class="edu-text"><a href="/study">Study in Canada</a> </div>
</div>

<div class="edu">
    <div class="row">
        <div class="col-md-8">
            <div class="study-content">
                <h2>Canada is home to some of the best education in the world.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sint eligendi a suscipit perferendis officia adipisci ducimus voluptatibus, consequuntur ad? Animi labore dolorem accusantium dignissimos quam! Esse ipsam officiis dolorum
                    aperiam magnam quo adipisci harum obcaecati. Labore omnis velit nisi.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem nobis deserunt quibusdam quas natus. Officia recusandae minus vitae dolorem praesentium voluptates, optio ratione quam similique sit minima iste sint inventore explicabo?
                    Rerum quidem accusamus sunt magni, voluptatibus et ipsam optio alias tempore fugiat esse vitae facere ad tempora. Provident, illo.</p>
                    
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio inventore porro beatae. Et excepturi nemo, quos quis ad fugit inventore laboriosam ea aspernatur repellendus libero, quae, doloremque exercitationem quasi veniam similique
                    nesciunt. Ex sequi dolor, totam eos dolore aliquid sunt mollitia tenetur corporis vel maiores deleniti unde distinctio nulla molestias.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stud-c-img">
                <img src="{% static 'stud-c.jpg' %} " height="200px" width="250px" alt="study">
            </div>
        </div>
    </div>

    <div class="how-study">
        <h2>How to study in canada</h2>
        <p>Folowing are the steps if you wish to study in canada</p>

        <div class="row">
            <div class="col-sm-3 ">
                <div class="card">
                    <div class="card-header">
                        <figure>
                            <img src="s-icon1.jpg" alt="">
                        </figure>
                        <div class="card-body">
                            <h6>Select a program</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae aperiam temporibus quos. Est voluptatibus laborum accusamus eius nobis neque veritatis!</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header">
                        <figure>
                            <img src="s-icon2.jpg" alt="">
                        </figure>
                        <div class="card-body">
                            <h6>Apply for a study permit:</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae aperiam temporibus quos. Est voluptatibus laborum accusamus eius nobis neque veritatis!</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header">
                        <figure>
                            <img src="s-icon3.jpg" alt="">
                        </figure>
                        <div class="card-body">
                            <h6>Apply to canadian institution</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae aperiam temporibus quos. Est voluptatibus laborum accusamus eius nobis neque veritatis!</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header">
                        <figure>
                            <img src="s-icon4.jpg" alt="">
                        </figure>
                        <div class="card-body">
                            <h6>Explore your immigration options:</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae aperiam temporibus quos. Est voluptatibus laborum accusamus eius nobis neque veritatis!</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="abt-univ">
        <h3>About Canada's University and Colleges</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam blanditiis voluptatibus praesentium atque accusamus velit eligendi earum corporis quibusdam tempora delectus minus iusto, alias quia doloremque ut molestias dignissimos tenetur. Culpa
            vel blanditiis temporibus nulla et aperiam corporis sed accusantium asperiores nostrum, aspernatur harum itaque pariatur officiis doloremque necessitatibus quasi quas! Similique neque, suscipit deserunt cupiditate harum mollitia facilis dolores
            molestias temporibus illo, eaque rem deleniti nisi nostrum quod possimus porro eligendi esse ipsam minus enim nesciunt! Ullam recusandae quae voluptatem debitis. Illum quam ratione aperiam ullam beatae amet ipsa, sunt in quae laborum perferendis
            earum quis quasi, quod nostrum!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus harum dolor corrupti amet. At ducimus ipsum, architecto doloremque nemo repellat explicabo inventore distinctio totam debitis, in commodi hic dolorem eaque ex excepturi quis fuga
            reprehenderit exercitationem? Voluptatibus cupiditate consectetur expedita aspernatur deserunt accusantium, autem recusandae sunt culpa laudantium, a repellat?</p>
        <ul>
            <li>University1</li>
            <li>University2</li>
            <li>University3</li>
            <li>University4</li>
            <li>University5</li>
            <li>University6</li>
            <li>University7</li>
            <li>University8</li>
            <li>University9</li>
            <li>University10</li>
        </ul>
    </div>

    {% endblock body %}