{% extends 'base.html' %} {% load static %} {% block title %}Education{% endblock title %} {% block body %}
<div class="container-edu ">
    <img src="{% static 'work.jpg' %}" alt="Education">
    <div class="overlay-bg"></div>
    <div class="edu-text"><a href="/work">Work Visa in Canada</a> </div>
</div>

<div class="container">
    <div class="work-abt">
        <h2>Work Permit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut reiciendis rerum sequi illum nam porro animi distinctio accusamus reprehenderit odio.</p>
        <h4>Get the right work permit according to your situation.</h4>
        <h3>Employer specific work permit</h3>
        <p>An employer-specific work permit lets you work in Canada according to the conditions on your work permit, such as:
            <li> the name of the specific employer you can work for</li>
            <li> how long you can work </li>
            <li> the location where you can work (if applicable) </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sint, exercitationem laudantium est culpa maiores! Quis quod ratione facilis sapiente.</p>
            <h3>Open work permit</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi non sed reprehenderit recusandae laudantium distinctio dicta unde ratione repudiandae consequuntur!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolore laboriosam et, placeat sequi alias eum distinctio, perferendis nisi quasi repudiandae, ab at modi? Impedit molestias corrupti nam iure pariatur?</p>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, iusto.</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa blanditiis nisi accusantium.</li>
    </div>
    <div class="work-how">
        <div class="col-md-8">
            <h2>How to apply for work permit</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, reiciendis possimus, alias veritatis quidem consequatur animi hic, voluptate exercitationem consequuntur odit non illum voluptatibus quam ad fuga vel? Nisi, amet!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur modi repellendus beatae. Saepe itaque sit veritatis velit maiores, iure fuga?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit voluptatum voluptas accusantium sapiente nemo id?</p>

        </div>
        <div class="col-md-4">
            <img src="{% static 'work1.jpg' %}" height="200px" width="250px" alt="">
        </div>
    </div>
</div>
{% endblock body %}